.container {
  margin-bottom: 60px; }

.shape-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .shape-box .circ-shape {
    border-radius: 50%;
    background-color: #02CAA0;
    padding: 16px 20px 20px;
    height: 80px;
    width: 80px;
    border: 0;
    margin: 10px;
    font-size: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .shape-box .circ-shape i {
      color: #fff; }
    .shape-box .circ-shape .overlay {
      font-size: 14px; }

.picks .badge {
  background-color: #02CAA0; }

.primary-color {
  color: #02CAA0;
  font-weight: bold; }

.rules {
  margin-top: 120px; }
  .rules a {
    color: #02CAA0;
    font-size: 10px;
    text-decoration: none; }
  .rules img {
    padding: 20px; }
