$primary-color: #02CAA0;

.container {
	margin-bottom: 60px;
}

.shape-box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	.circ-shape {
		border-radius: 50%;
		background-color: $primary-color;
		padding: 16px 20px 20px 20px;
		height: 80px;
		width: 80px;
		border: 0;
		margin: 10px;
		font-size: 36px;
		display: flex;
		flex-direction: column;
		align-items: center;
		i {
			color: #fff;
		}
		.overlay {
			font-size: 14px;
		}
	}
}

.picks .badge {
	background-color: $primary-color;
}

.primary-color {
	color: $primary-color;
	font-weight: bold;
}

.rules {
	margin-top: 120px;
	a {
		color: $primary-color;
		font-size: 10px;
		text-decoration: none;
	}
	img {
		padding: 20px;
	}
}